{% if settings.enable_spend_x_get_y %}
  {% for i in (1..3) %}
    {% capture free_gift_product_setting %}spend_x_get_y_free_gift_{{ i }}{% endcapture %}
    {% capture free_gift_threshold_setting %}spend_x_get_y_free_gift_{{ i }}_threshold{% endcapture %}
    {% capture free_gift_message_setting %}spend_x_get_y_free_gift_{{ i }}_message{% endcapture %}

    {% assign free_gift_product = all_products[settings[free_gift_product_setting]] %}
    {% if free_gift_product == blank or free_gift_product.available == false %}
      {% continue %}
    {% endif %}

    {% assign modal_id = free_gift_product.id | append: '-gift' %}

    {% capture modal_content %}
      <cart-gift-modal
        class="cart-gift-modal d-block"
        role="region"
        aria-label="Cart Free Gift"
        data-threshold="{{ settings[free_gift_threshold_setting] }}"
        data-message="{{ settings[free_gift_message_setting] }}"
        data-product="{{ free_gift_product.handle }}"
      >
        <div class="d-flex">
          <div class="cart-gift-modal__image img-cover">
            {{ free_gift_product.featured_image | image_url: width: 160 | image_tag: loading: 'lazy' }}
            <span class="cart-gift-modal__image-label">{{ 'cart.general.free_gift' | t }}</span>
          </div>

          <div class="cart-gift-modal__content">
            <p class="cart-gift-modal__message">{{ settings[free_gift_message_setting] }}</p>
            <span class="cart-gift-modal__title">{{ free_gift_product.title }}</span>

            {% render 'product-options', product: free_gift_product, hide_size_guide: true %}

            <div class="d-none">
              <select name="id" id="productSelect-{{ free_gift_product.id }}" data-product-select>
                {% for variant in free_gift_product.variants %}
                  {% if variant.available %}
                    {% assign hash = '' %}
                    {% assign to = 'ouimepqvtwjybxndgrhcakfszl' | split: '' %}

                    {% assign from = variant.id | split: '' %}
                    {% for char in from %}
                      {% assign index = char | plus:0 %}
                      {% assign next_char = to[index] %}
                      {% assign hash = hash | append: next_char %}
                    {% endfor %}
                    <option {% if variant == free_gift_product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}" data-hash="{{ hash }}">
                      {{ variant.title }} - {{ variant.price | money_with_currency }}
                    </option>
                  {% else %}
                    <option disabled="disabled">
                      {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                    </option>
                  {% endif %}
                {% endfor %}
              </select>
            </div>
          </div>
        </div>
        <button class="btn btn--outline btn--full" type="button" data-product-submit>
          {{ 'products.product.add_to_cart' | t }}
        </button>
      </cart-gift-modal>
    {% endcapture %}

    {% capture modal_title %}{{ 'cart.general.gift_selection_title' | t }}{% endcapture %}

    {% render 'modal',
      id: modal_id,
      content: modal_content,
      overlay_view: true,
      overlay_view_title: modal_title,
      no_wrapper: true,
      classes: 'cart-gift-modal__modal'
    %}
  {% endfor %}
{% endif %}

