{% unless product.has_only_default_variant %}
  <div class="product-options">
    {%- for option in product.options_with_values -%}
      {%- liquid
        assign option_name = option.name | downcase
        assign display_selected_value_text = true
        assign type = 'radio'
        if option_name == 'color'
          assign display_selected_value_text = true
          assign type = 'swatch'
        elsif option_name == 'size' and is_select == true
          assign display_selected_value_text = true
          assign type = 'select'
        endif
      -%}
      {% render 'product-option' with
        option: option,
        display_selected_value_text: display_selected_value_text,
        type: type,
        product: product,
        hide_size_guide: hide_size_guide
      %}
    {%- endfor -%}

    {% if display_low_stock == true %}
      <p class="product-swatches__stock_message hide" aria-live="polite"
        data-variant-stock-message
        data-no-stock-text="{{ 'products.product.no_stock' | t }}"
        data-low-stock-text="{{ 'products.product.limited_stock' | t }}"
        data-not-available-text="{{ 'products.product.selection_unavailable' | t }}"
        data-low-stock-breakpoint="5"
      >{{ 'products.product.no_stock' | t }}</p>
    {% endif %}

    <script data-product-json type='text/template'>
      {{ product | json }}
    </script>

    <script data-variant-json type='text/template'>
      [
        {%- for variant in product.variants -%}
          {
            "id": {{ variant.id | json }},
            "final_sale": "{{ variant.metafields.custom.final_sale }}"
          }{% unless forloop.last %},{% endunless %}
        {%- endfor -%}
      ]
    </script>
  </div>
{% endunless %}