{% if product.metafields.custom_fields['enable_image_content'] == 1 %}
  {{ 'sections.product-image-content.css' | asset_url | stylesheet_tag }}

  <div class="product-image-content product-image-content--{{ section.id }}" role="region" aria-label="Product Image + Content">
    <div class="container">
      <div class="row">
        <div class="col-md-7 align-self-center">
          <div class="product-image-content__image">
            <img class="lazyload" src="{{ product.metafields.custom_fields['image_content_image'] }}" alt="{{ product.metafields.custom_fields['image_content_image_alt'] }}">
          </div>
        </div>

        <div class="col-md-5 align-self-center">
          <div class="product-image-content__copy">
            <p class="heading-3">
              {{ product.metafields.custom_fields['image_content_headline'] }}
            </p>

            <p>
              {{ product.metafields.custom_fields['image_content_copy'] }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% render 'section-spacing', section_name: 'product-image-content' %}
{% endif %}

{% schema %}
  {
    "name": "Product Image + Content",
    "settings": [
      {
        "type": "header",
        "content": "Section Margin"
      },
      {
        "type": "select",
        "id": "margin_top",
        "label": "Margin Top",
        "default": "default",
        "options": [
          {"value": "default", "label": "Theme Default"},
          {"value": "0", "label": "None"},
          {"value": "8px", "label": "8px"},
          {"value": "16px", "label": "16px"},
          {"value": "32px", "label": "32px"},
          {"value": "48px", "label": "48px"},
          {"value": "64px", "label": "64px"},
          {"value": "102px", "label": "102px"}
        ]
      },
      {
        "type": "select",
        "id": "margin_top_mobile",
        "label": "Margin Top Mobile",
        "default": "default",
        "options": [
          {"value": "default", "label": "Theme Default"},
          {"value": "0", "label": "None"},
          {"value": "8px", "label": "8px"},
          {"value": "16px", "label": "16px"},
          {"value": "32px", "label": "32px"},
          {"value": "48px", "label": "48px"},
          {"value": "64px", "label": "64px"},
          {"value": "102px", "label": "102px"}
        ]
      },
      {
        "type": "select",
        "id": "margin_bottom",
        "label": "Margin Bottom",
        "default": "default",
        "options": [
          {"value": "default", "label": "Theme Default"},
          {"value": "0", "label": "None"},
          {"value": "8px", "label": "8px"},
          {"value": "16px", "label": "16px"},
          {"value": "32px", "label": "32px"},
          {"value": "48px", "label": "48px"},
          {"value": "64px", "label": "64px"},
          {"value": "102px", "label": "102px"}
        ]
      },
      {
        "type": "select",
        "id": "margin_bottom_mobile",
        "label": "Margin Bottom Mobile",
        "default": "default",
        "options": [
          {"value": "default", "label": "Theme Default"},
          {"value": "0", "label": "None"},
          {"value": "8px", "label": "8px"},
          {"value": "16px", "label": "16px"},
          {"value": "32px", "label": "32px"},
          {"value": "48px", "label": "48px"},
          {"value": "64px", "label": "64px"},
          {"value": "102px", "label": "102px"}
        ]
      },
      {
        "type": "header",
        "content": "Section Padding"
      },
      {
        "type": "select",
        "id": "padding_top",
        "label": "Padding Top",
        "default": "default",
        "options": [
          {"value": "default", "label": "Theme Default"},
          {"value": "0", "label": "None"},
          {"value": "8px", "label": "8px"},
          {"value": "16px", "label": "16px"},
          {"value": "32px", "label": "32px"},
          {"value": "48px", "label": "48px"},
          {"value": "64px", "label": "64px"},
          {"value": "102px", "label": "102px"}
        ]
      },
      {
        "type": "select",
        "id": "padding_top_mobile",
        "label": "Padding Top Mobile",
        "default": "default",
        "options": [
          {"value": "default", "label": "Theme Default"},
          {"value": "0", "label": "None"},
          {"value": "8px", "label": "8px"},
          {"value": "16px", "label": "16px"},
          {"value": "32px", "label": "32px"},
          {"value": "48px", "label": "48px"},
          {"value": "64px", "label": "64px"},
          {"value": "102px", "label": "102px"}
        ]
      },
      {
        "type": "select",
        "id": "padding_bottom",
        "label": "Padding Bottom",
        "default": "default",
        "options": [
          {"value": "default", "label": "Theme Default"},
          {"value": "0", "label": "None"},
          {"value": "8px", "label": "8px"},
          {"value": "16px", "label": "16px"},
          {"value": "32px", "label": "32px"},
          {"value": "48px", "label": "48px"},
          {"value": "64px", "label": "64px"},
          {"value": "102px", "label": "102px"}
        ]
      },
      {
        "type": "select",
        "id": "padding_bottom_mobile",
        "label": "Padding Bottom Mobile",
        "default": "default",
        "options": [
          {"value": "default", "label": "Theme Default"},
          {"value": "0", "label": "None"},
          {"value": "8px", "label": "8px"},
          {"value": "16px", "label": "16px"},
          {"value": "32px", "label": "32px"},
          {"value": "48px", "label": "48px"},
          {"value": "64px", "label": "64px"},
          {"value": "102px", "label": "102px"}
        ]
      }
    ]
  }
{% endschema %}
